.beneficios {
  background: linear-gradient(217deg,  #6560e6, #ad31c9 90%),
              linear-gradient(127deg, #ad31c9,  #6560e6 10%);
  width: 100%;
  padding: 80px 0px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.beneficios h2 {
  font-size: 60px;
  font-weight: 600;
}

.pbeneficios {
  padding: 10px 200px 50px;
  font-size: 20px;
}

.ulbeneficios {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.ulbeneficios li {
  width: 350px;
  border: 2px solid rgb(225, 225, 228);
  box-shadow: 2px 2px 2px 1px rgba(10, 0, 0, 0.2);
  border-radius: 8px;
  padding: 30px;
}

.ulbeneficios li:hover { 
  -webkit-transform: scale(1.0);
  transform: scale(1.1);
  transition: 0.4s;
}

.ulbeneficios img {
  width: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.ulbeneficios h3 {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
  .beneficios {
    padding: 80px 50px;
  }

  .beneficios h2 {
      font-size: 50px;
  }
}

@media only screen and (max-width: 950px) {
  .beneficios h2 {
      font-size: 40px;
  }

  .beneficios p {
    font-size: 15px;
  }

  .pbeneficios {
    padding: 10px 100px 50px;
    font-size: 20px;
  }

  .ulbeneficios h3 {
    font-size: 22px;
  }

  .ulbeneficios {
    gap: 10px;
  }

  .ulbeneficios li {
    width: 350px;
    padding: 10px;
  }
}

@media only screen and (max-width: 700px) {
  .beneficios h2 {
      font-size: 35px;
  }

  .pbeneficios {
    padding: 10px 50px 30px;
  }

  .beneficios {
    padding: 20px 20px;
  }
}