.button {
  padding: 6px 15px;
  border: 2.2px solid #ad31c9;
  border-radius: 8px;
  background: #ffffff;
  
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.4s;
}